<<<<<<< HEAD
@use "./breakpoints.scss" as breakpoints;
=======
.position {
    position: sticky;
    top: 0;
}
>>>>>>> 6e093c82ca0ba41cdf77be171e75324cef2269cd

.mask {
    pointer-events: none;
    backdrop-filter: blur(0.5rem);
    background: linear-gradient(to bottom, var(--page-background), var(--static-transparent));
    mask-image: linear-gradient(rgba(0,0,0) 25%, rgba(0, 0, 0, 0) 100%);
    mask-size: 100% 100%;
}

<<<<<<< HEAD
@media (max-width: breakpoints.$s) {
    .position {
        top: auto;
=======
@media (--s) {
    .position {
        top: auto;
        position: fixed;
>>>>>>> 6e093c82ca0ba41cdf77be171e75324cef2269cd
        bottom: var(--static-space-24);
    }

    .mask {
        transform: rotate(180deg);
        bottom: 0;
    }
}